#rowspacer{
    height: 150px;
}

#rowmiddle{
    height: 50px;
}

img{
    height:100px;
}

#fightstage{
    display: none;
}

#attackresults{
    height: 100px;
}

.progress{
    display: none;
}

body, html {
    background-image: url(../images/background.jpg);
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
    background-color: red;
    color: aqua;
}